<div class="container">
  <ul
    id="instructors-container"
    class="container"
    *ngIf="!_instructor.loading; else: progressbar"
  >
    <li
      class="instructor"
      *ngFor="let i of _instructor.instructors | paginate: { itemsPerPage: 5, currentPage: p };let i = index"
    >
      <mat-card class="text-center">
        <h4 class="text-primary">{{ i.name }}</h4>
        <hr />
        <mat-card-content>
          <ul style="list-style-type: none" class="container text-left">
            <li>
              <strong>Lastname:</strong> {{ i.lastname }}
            </li>
            <li>
              <strong>Gender:</strong> {{ i.gender }}
            </li>
            <li>
              <strong>Country: </strong> {{ i.country }}
            </li>
            <li>
              <strong>State: </strong> {{ i.state }}
            </li>
            <li>
              <strong>Phone: </strong>: {{ i.phone }}
            </li>
            <li>
              <strong>Passport: </strong> {{ i.passport }}
            </li>
            <li>
              <strong>Mail: </strong> {{ i.mail }}
            </li>
            <li>
              <strong>Description</strong> {{ i.description }}
            </li>
          </ul>
        </mat-card-content>
        <hr />
        <mat-card-actions class="text-center">
          <button mat-button (click)="editInstructor(i)" color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-button
            (click)="_instructor.instructors.splice(i, 1)"
            color="warn"
            class="ml-2"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </li>
  </ul>
  <ng-template #progressbar>
    <div id="loading" class="container">
      <h2 class="text-center text-primary">Loading</h2>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </ng-template>
</div>
<pagination-controls
  *ngIf="_instructor.instructors && _instructor.instructors.length > 5"
  (pageChange)="p = $event"
></pagination-controls>
