<div id="header-container" class="text-center">
  <img src="../../../assets/images/logoadearisretina.png" alt="">
</div>

<div id="footer-container" class="text-center shadow-lg pb-4">
  <div id="title" class="shadow-sm">
    <h2 id="footer-header" class="text-center text-info">Servicios</h2>
  </div>
  <hr>
  <ul id="footer-ul">
    <li class="footer-li">
      <mat-card class="example-card">
        <h5 class="text-center text-secondary text-info"><strong>Asesorías Empresariales</strong></h5>
        <hr>
        <div class="text-center">
          <i class="material-icons footer-i">work</i>
        </div>
        <div class="text-center text-secondary">
          <p style="font-size: 13px">
            Te asesoramos en temas de factibilidad, análisis de costos, finanzas y planes estratégicos. 
            Desarrollamos soluciones a la medida dependiendo de la necesidad y condiciones que tenga cada empresa.
          </p>
        </div>
      </mat-card>
    </li>
    <li class="footer-li">
      <mat-card class="example-card">
        <h4 class="text-center text-secondary text-info"><strong>Organización de Eventos</strong></h4>
        <hr>
        <div class="text-center">
          <i class="material-icons footer-i">domain</i>
        </div>
        <div class="text-center text-secondary">
          <p>
            Te ayudamos a organizar eventos en ámbitos académicos-profesionales, como por ejemplo congresos y ferias.
          </p>
        </div>
      </mat-card>
    </li>
    <li class="footer-li">
      <mat-card class="example-card">
        <h4 class="text-center text-secondary text-info"><strong>Capacitaciones</strong></h4>
        <hr>
        <div class="text-center">
          <i class="material-icons footer-i">school</i>
        </div>
        <div class="text-center text-secondary">
          <p>
            Te capacitamos en áreas de contabilidad, mercadeo y tramitología para la formalización de empresas.
          </p>
        </div>
      </mat-card>
    </li>
  </ul>
</div>