<form class="container text-center shadow-sm p-3 mb-5 rounded">
  <h3 class="text-info">Inicio de sesión</h3>
  <mat-form-field>
    <input matInput type="text" placeholder="Nombre de usuario">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Contraseña">
  </mat-form-field>
  <button mat-stroked-button color="primary"><mat-icon>done</mat-icon></button>
</form>