<form class="container text-center shadow-sm p-3 mb-5 rounded" [formGroup]="loginGroup" (ngSubmit)="onSubmit()">
  <h3 class="text-info">Inicio de sesión</h3>
  <mat-form-field>
    <input matInput [formControl]="loginGroup.get('dni')" type="text" placeholder="Enter your DNI">
  </mat-form-field>
  <mat-form-field>
    <input matInput [formControl]="loginGroup.get('password')" type="password" placeholder="Password">
  </mat-form-field>
  <div class="container text-center">
    <button type="submit" mat-stroked-button color="primary"><mat-icon>done</mat-icon></button>
  </div>
</form>