<mat-drawer-container class="example-container" hasBackdrop="true">
  <mat-drawer #drawer mode="push">
    <h3 class="text-info text-center">Admin dashboard</h3>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel
        [expanded]="step === 0"
        (opened)="setStep(0)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-description>
            Event
            <mat-icon class="ml-2">school</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <hr>
        <button [routerLink]="['/admin/add-event']"
          mat-stroked-button
          color="primary"
          (click)="drawer.close()"
        >
          Add
        </button>
        <button [routerLink]="['/admin/show-events']"
          class="ml-4"
          mat-stroked-button
          color="accent"
          (click)="drawer.close()"
        >
          Show
        </button>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel
        [expanded]="step === 1"
        (opened)="setStep(1)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-description>
            Activities
            <mat-icon class="ml-2">style</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <hr>
        <button [routerLink]="['/admin/add-activity']"
          mat-stroked-button
          color="primary"
          (click)="drawer.close()"
        >
          Add
        </button>
        <button [routerLink]="['/admin/show-activities']"
          class="ml-4"
          mat-stroked-button
          color="accent"
          (click)="drawer.close()"
        >
          Show
        </button>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel
        [expanded]="step === 2"
        (opened)="setStep(2)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-description>
            Instructors
            <mat-icon class="ml-2">supervisor_account</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <hr>
        <button [routerLink]="['/admin/add-instructor']"
          mat-stroked-button
          color="primary"
          (click)="drawer.close()"
        >
          Add
        </button>
        <button [routerLink]="['/admin/show-instructors']"
          class="ml-4"
          mat-stroked-button
          color="accent"
          (click)="drawer.close()"
        >
          Show
        </button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>
  <mat-drawer-content>
    <div class="bg-text">
      <nav id="main-nav" class="shadow navbar navbar-light mb-5">
        <a
          style="cursor: pointer"
          class="navbar-brand text-white"
          (click)="drawer.toggle()"
          ><mat-icon>menu</mat-icon></a
        >
        <a id="logo" class="navbar-brand pull-left text-center" href="/">
          Adearis
        </a>
        <div class="navbar-expand mr-auto">
          <div class="navbar-nav">
            <a
              [routerLink]="['/home']"
              routerLinkActive="active-link"
              class="nav-item nav-link active"
              href="#"
              >Inicio</a
            >
            <a class="nav-item nav-link" href="#">Eventos</a>
            <a class="nav-item nav-link" href="#">Contacto</a>
          </div>
        </div>
        <div class="navbar-expand ml-auto navbar-nav">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
            <a class="nav-item nav-link" href="/" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </div>
        </div>
      </nav>
      <router-outlet style="margin-top: 0"></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
