<form class="container text-center" [formGroup]="degreeGroup" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput [formControl]="degreeGroup.get('name')" type="text" placeholder="Degree name">
  </mat-form-field>
  <mat-form-field>
    <input matInput [formControl]="degreeGroup.get('institution')" type="text" placeholder="Institution">
  </mat-form-field>
  <hr>
  <div class="container text-center">
    <button color="primary" type="submit" [disabled]="!degreeGroup.valid" mat-stroked-button><mat-icon>done</mat-icon></button>
  </div>
</form>