/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
body,
html {
  height: 100%;
  z-index: 2;
}
.align {
  vertical-align: top;
}
.dialog .mat-dialog-container {
  border-radius: 25px;
  padding-bottom: 0;
}