<form class="container text-center shadow-sm p-3 mb-5 rounded" [formGroup]="signupGroup" (ngSubmit)="onSubmit()">
  <h3 class="text-info">Signup</h3>
  <mat-form-field>
    <input matInput type="text" [formControl]="signupGroup.get('name')" placeholder="Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" [formControl]="signupGroup.get('lastname')" placeholder="Lastnames">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" [formControl]="signupGroup.get('dni')" placeholder="DNI">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" [formControl]="signupGroup.get('password')" placeholder="Password">
  </mat-form-field>
  <mat-form-field>
    <mat-select [formControl]="signupGroup.get('gender')">
      <mat-option value="M">Male</mat-option>
      <mat-option value="F">Female</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select [formControl]="signupGroup.get('country')">
      <mat-option *ngFor="let c of allcountries" [value]="c">{{c}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput [formControl]="signupGroup.get('state')" placeholder="State">
  </mat-form-field>
  <mat-form-field>
    <input matInput [formControl]="signupGroup.get('phone')" placeholder="Phone">
  </mat-form-field>
  <mat-form-field>
    <input matInput [formControl]="signupGroup.get('passport')" type="text" placeholder="Passport">
  </mat-form-field>
  <mat-form-field>
    <input matInput [formControl]="signupGroup.get('email')" type="email" placeholder="Email">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput [formControl]="signupGroup.get('expectatives')" placeholder="Expectatives"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput [formControl]="signupGroup.get('allergies')" placeholder="Allergies"></textarea>
  </mat-form-field>
  <mat-form-field>
    <input matInput [formControl]="signupGroup.get('emergencyContact')" placeholder="Emergency contact">
  </mat-form-field>
  <div class="container text-center">
    <button mat-stroked-button type="submit" color="primary" [disabled]="!signupGroup.valid"><mat-icon>done</mat-icon></button>
  </div>
</form>