<form class="container text-center shadow-sm p-3 mb-5 rounded">
  <h3 class="text-info">Registro</h3>
  <mat-form-field>
    <input matInput type="text" placeholder="Nombre">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Apellido">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Cédula">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Correo electrónico">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Contraseña">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Ingrese nuevamente su contraseña">
  </mat-form-field>
  <button mat-stroked-button color="primary"><mat-icon>done</mat-icon></button>
</form>