#activities-container {
  list-style-type: none;
  padding: 0;
  width: 50%;
}
.activity {
  padding-top: 1%;
  margin-bottom: 1%;
}
#footer-list {
  list-style-type: none;
  padding: 0;
}
.footer-li {
  display: inline-block;
}
#loading {
  margin-top: 25%;
}
