<div class="container">
  <ul
    id="events-container"
    class="container"
    *ngIf="_events.events; else: progressbar"
  >
    <li
      class="event"
      *ngFor="let a of _events.events; let i = index"
    >
      <mat-card class="text-center">
        <h4 class="text-primary">{{ a.name }}</h4>
        <hr />
        <mat-card-content>
          <ul id="event-details" class="text-left container">
            <li><strong>Country: </strong>{{a.country}}</li>
            <li><strong>Phone: </strong>{{a.phone}}</li>
            <li><strong>Website: </strong>{{a.website}}</li>
            <li><strong>Email: </strong>{{a.email}}</li>
            <li><strong>Description: </strong>{{a.description}}</li>
            <li><strong>Year: </strong>{{a.year}}</li>
            <li><strong>Start date: </strong>{{a.start_date | date}}</li>
            <li><strong>Finish date: </strong>{{a.finish_date | date}}</li>
          </ul>
        </mat-card-content>
        <hr />
        <mat-card-actions class="text-center">
          <button mat-button (click)="editEvent(i)" color="primary">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </li>
  </ul>
  <ng-template #progressbar>
    <div id="loading" class="container">
      <h2 class="text-center text-primary">Loading</h2>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </ng-template>
</div>
